
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.index-header{
  background-image: url(../img/Fiat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.index-header-botones{
  background-color: #000;
  color: #fff;
}

.main-card-contenedor{
  background-color: rgba(159, 1, 1, 1);
  width: 100%;          
  max-width: 25rem;    
  border-radius: 10px;
}

.main-card-contenedor img{
  width: 100%;
  object-fit: cover;
  display: block;
}

footer{
  background-color: #330101;
  padding: 2rem 1rem;  
  text-align: center;
}

footer h2, footer a{
  color: #ffffff;
}

.logosFooter{
  width: 5rem;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

